{% extends 'extra.html' %}
{% block content %}
<div class="container" style="margin-top:100px;">
    <h1>Write your review for {{movie}}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label"></label>
            <input class="form-control" type="text" name="title" placeholder="Write a title for your review.">
            <div class="form-text"></div>
        </div>
        <div class="mb-3">
            <label class="form-label"></label>
            <textarea name="review" rows="14" cols="10" class="form-control" placeholder="Write your review."></textarea>
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>
{% endblock %}