{% extends 'base.html' %}
{% block content %}

<div class="hero user-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1>Add movie</h1>
					<ul class="breadcumb">
						<li class="active"><a href="#">Home</a></li>
						<li> <span class="ion-ios-arrow-right"></span>Add movie</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-single">
	<div class="container">
		<div class="row ipad-width">
			<div class="">
				<div class="form-style-1 user-pro" action="#">
					<form method="POST" enctype="multipart/form-data" class="user">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-12 form-it">
								<label>Movie Name</label>
								<input type="text" name="name" required placeholder="Add movie title">
							</div>
							<div class="col-md-12 form-it">
								<label>Released Year</label>
								<input type="text" name="year" required placeholder="Add movie title">
							</div>
							<div class="col-md-12 form-it">
								<label>Released Date</label>
								<input type="text" name="release" required placeholder="Add Released date">
							</div>
							<div class="col-md-12 form-it">
								<label>Language</label>
								<input type="text" name="language" required placeholder="Add Language">
							</div>

							<div class="col-md-12 form-it">
								<label>Rating</label>
								<input type="text" name="rating" required placeholder="Add IMDB rating">
							</div>

							<div>
								<div class="col-md-6 form-it">
									<label>Poster</label>
									<input type="file" name="poster" required placeholder="Add Movie Poster">
								</div>
								<div class="col-md-6 form-it">
									<label>Cover image</label>
									<input type="file" name="cover" required placeholder="Add a cover image">
								</div>
							</div>

							<div class="col-md-12 form-it">
								<label>Duration</label>
								<input type="text" name="duration" required placeholder="Add movie duration">
							</div>
							<div>
								<div class="col-md-6 form-it">
									<label>Streaming</label>
									<select name="streaming">
										{% for s in streaming %}
										<option value={{s.id}}>{{s.name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6 form-it">
									<label>Streaming link</label>
									<input type="text" name="ott" required placeholder="Add streaming link">
								</div>
							</div>
							<div>
								<div class="col-md-3 form-it">
									<label>Actors</label>
									<select name="actors" multiple>
										{% for a in actors %}
										<option value="{{a.id}}">{{a.name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-3 form-it">
									<label>Director</label>
									<select name="director">
										{% for d in director %}
										<option value="{{d.id}}">{{d.name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-3 form-it">
									<label>Writers</label>
									<select name="writers" multiple>
										{% for w in writers %}
										<option value="{{w.id}}">{{w.name}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-3 form-it">
									<label>Cinematographer</label>
									<select name="cinematographer">
										{% for c in cinematographer %}
										<option value="{{c.id}}">{{c.name}}</option>
										{% endfor %}
									</select>
								</div>
							</div>

							<div class="col-md-12 form-it">
								<label>Synopsis</label>
								<textarea type="text" name="synopsis" rows="14" cols="10" class="form-control" required placeholder="Write movie synopsis.">
								</textarea>
							</div>

							<div class="col-md-12 form-it">
								<label>Trailer</label>
								<input type="text" name="trailer" required placeholder="Add trailer link.">
							</div>

							<div class="col-md-4" style="margin-left:30%;">
								<input class="submit" type="submit" value="Add movie">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}