<!DOCTYPE html>
{% load static %}
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">


<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	<style>
	body,footer{
	background-color:#020d18;
}
</style>

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!-- BEGIN | Header -->
<header class="ht-header">
	<div class="container">
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="{% url 'Movie:home' %}"><img class="logo" src="{% static 'images/logo1.png' %}" alt="" width="119" height="58"></a>
			    </div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav flex-child-menu menu-left">
						{% if user.is_superuser %}
						<li class="nav-item"><a href="{% url 'Movie:add_movie' %}">Add Movie</a></li>
						{% endif %}
						{% if user.is_authenticated %}
						<li class="nav-item"><a href="{% url 'Movie:home' %}">Home</a></li>
						<li class="nav-item"><a href="{% url 'Movie:view_movies' %}">movies</a></li>
						<li class="nav-item"><a href="{% url 'Watchlist:view_watchlist' %}">Watchlist</a></li>
						<li class="nav-item"><a href="{% url 'purchase:book ticket' %}">Booking</a></li>
						<li class="nav-item" ><a href="{% url 'User:edit_user' %}">Edit Profile</a></li>
						<li class="nav-item"><a href="{% url 'Movie:signout' %}">Logout</a></li>
						{% else %}
						<li class="nav-item"><a href="{% url 'Movie:signin' %}">LOG In</a></li>
						<li class="nav-item"><a href="{% url 'Movie:signup' %}">sign up</a></li>
						{% endif %}
					</ul>
				</div>
	    </nav>
		<!--Search-->
		<div>
			<form  method="GET" enctype="multipart/form-data" action="{% url 'Search:search_movie' %}">
				{% csrf_token %}
				<div class="form-style-1">
					<input type="text" name="query" placeholder="Search for a movie or celebrity that you are looking for">
					<input style="display:block; margin-top:1%; width:80px;" class="submit" type="submit" value="Search">
				</div>
			</form>
		</div>
	</div>
</header>
<!-- END | Header -->
{% block content %}
{% endblock %}
<!-- footer section-->
<footer class="ht-footer">
	<div class="container">
		<div class="flex-parent-ft">
			<div class="flex-child-ft item1">
				 <a href="" style="margin-top:5px;"><img class="logo" src="{% static 'images/logo1.png' %}" alt=""></a>
				 <p>5th Avenue st, manhattan<br>
				New York, NY 10001</p>
				<p>Call us: <a href="#">(+01) 202 342 6789</a></p>
			</div>
			<div class="flex-child-ft item2">
				<h4>Resources</h4>
				<ul>
					<li><a href="#">About</a></li>
					<li><a href="#">Blockbuster</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Forums</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Help Center</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item3">
				<h4>Legal</h4>
				<ul>
					<li><a href="#">Terms of Use</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Security</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item4">
				<h4>Account</h4>
				<ul>
					<li><a href="#">My Account</a></li>
					<li><a href="{% url 'Watchlist:view_watchlist' %}">Watchlist</a></li>
					<li><a href="#">Collections</a></li>
					<li><a href="#">User Guide</a></li>
				</ul>
			</div>
			<div class="flex-child-ft item5">
				<h4>Newsletter</h4>
				<p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
				<form action="#">
					<input type="text" placeholder="Enter your email...">
				</form>
				<a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
			</div>
		</div>
	</div>
	<div class="ft-copyright">
		<div class="ft-left">
			<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
		</div>
		<div class="backtotop">
			<p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
		</div>
	</div>
</footer>
<!-- end of footer section-->

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/plugins2.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
