{% extends 'base.html' %}
{% block content %}
<style>
	.mv-single-hero {
  background: url('{{movie.cover.url}}') no-repeat;
  width:130%; height:auto;
  height: 598px;
  .class span {
  color:white;}
}
</style>
<div class="hero mv-single-hero">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- <h1> movie listing - list</h1>
				<ul class="breadcumb">
					<li class="active"><a href="#">Home</a></li>
					<li> <span class="ion-ios-arrow-right"></span> movie listing</li>
				</ul> -->
			</div>
		</div>
	</div>
</div>
<div class="page-single movie-single movie_single">
	<div class="container">
		<div class="row ipad-width2">
			<div class="col-md-4 col-sm-12 col-xs-12">
				<div class="movie-img sticky-sb">
					<img src="{{movie.poster.url}}" alt="">
					<div class="movie-btn">	
						<div class="btn-transform transform-vertical red">
							<div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
							<div><a href="{{movie.trailer}}" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
						</div>
						<div class="btn-transform transform-vertical">
							<div>
								<a href="{{movie.ott}}" class="item item-1 yellowbtn">
								Watch on {{movie.streaming.name}}</a>
							</div>
							<div><a href="{{movie.ott}}" class="item item-2 yellowbtn"><img style="height:25px; width:auto;"
								 src="{{movie.streaming.logo.url}}"></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
				<div class="movie-single-ct main-content">
					<h1 class="bd-hd">{{movie.name}}</h1>
					<h1 class="bd-hd cate">
						<span class="white">{{movie.year}}</span>-
						<span class="white">{{movie.certification}}</span>-
						{% for genre in movie.genres.all %}
						<span class="item item-1 yellowbtn white">{{genre.name}}</span>
						{% endfor %}
					</h1>
					<div class="social-btn" style="padding-top:10px;">
						<!-- To know if a movie is in watchlist or not  -->
						{% if not watchlist.exists %}
						<a href="{% url 'Watchlist:add_watchlist' movie.id %}" class="parent-btn">
							<i class="ion-plus"></i> Add to Watchlist</a>
						{% else %}
						<a class="parent-btn">
							<i class="ion-android-done"></i> Already in Watchlist </a>
						{% endif %}
						{% if movie.year == current_year %}
						<a href="#" class="parent-btn">
							<i class="ion-plus"></i> Book Tickets</a>
						{% endif%}
						{% if user.is_superuser %}
						<a href="{% url 'Movie:delete_movie' movie.id %}" class="parent-btn">
							<i class="ion-android-delete"></i>Delete
						</a>
						<a href="{% url 'Movie:edit_movie' movie.slug %}" class="parent-btn">
							<i class="ion-edit"></i>Edit
						</a>
						{% endif %}
					</div>
					<div class="movie-rate">
						<div class="rate">
							<i class="ion-android-star"></i>
							<p><span>{{movie.rating}}</span> /10<br>
								<span class="rv">{{review_count}} Reviews</span>
							</p>
						</div>
						<div class="rate-star">
							{% for i in scores %}
							<p>Your Score: {{i.score}}</p>
							{% endfor %}
						</div>
<!--						<div class="rate-star">-->
<!--							<p>Audience Score: </p>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star"></i>-->
<!--							<i class="ion-ios-star-outline"></i>-->
<!--						</div>-->
					</div>
					<div class="movie-tabs">
						<div class="tabs">
							<ul class="tab-links tabs-mv">
								<li class="active"><a href="#overview">Synopsis</a></li>
								<li><a href="#reviews"> Reviews</a></li>
								<li><a href="#cast">  Cast & Crew </a></li>
<!--								<li><a href="#media"> Media</a></li> -->
								<li><a href="#moviesrelated"> Related Movies ({{count}})</a></li>
							</ul>
						    <div class="tab-content">
						        <div id="overview" class="tab active">
						            <div class="row">
						            	<div class="col-md-8 col-sm-12 col-xs-12">
						            		<p>{{movie.synopsis}}</p>
										</div>
						            	<div class="col-md-4 col-xs-12 col-sm-12">
						            		<div class="sb-it">
						            			<h6>Release Date:</h6>
						            			<p>{{movie.release}}</p>
						            		</div>
						            		<div class="sb-it">
						            			<h6>Run Time:</h6>
						            			<p>{{movie.duration}}</p>
						            		</div>
						            		<div class="ads">
												<img src="images/uploads/ads1.png' %}" alt="">
											</div>
						            	</div>
						            </div>
						        </div>
						        <div id="reviews" class="tab review">
						           <div class="row">
						            	<div class="rv-hd">
						            		<div class="div">
							            		<h3>Reviews of </h3>
						       	 				<h2>{{movie.name}}</h2>
							            	</div>
							            	<a href="{% url 'Movie:add_review' movie.slug %}" style="margin-left:10px;" class="redbtn">Write Review</a>
						            	</div>
						            	<div class="topbar-filter">
											{% if review_count == 1 %}
											<p>Found <span>{{review_count}} review</span> in total</p>
											{% elif review_count > 1 %}
											<p>Found <span>{{review_count}} reviews</span> in total</p>
											{% else %}
											<p>Found <span>{{review_count}} reviews</span> in total</p>
											{% endif %}
											<label>Filter by:</label>
											<select>
												<option value="popularity">Popularity Descending</option>
												<option value="popularity">Popularity Ascending</option>
												<option value="rating">Rating Descending</option>
												<option value="rating">Rating Ascending</option>
												<option value="date">Release date Descending</option>
												<option value="date">Release date Ascending</option>
											</select>
										</div>
									   {% for i in review %}
										<div class="mv-user-review-item">
											<div class="user-infor">
												<img src="images/uploads/userava1.jpg' %}" alt="">
												<div>
													<h3>{{i.title}}</h3>
													{% if user.is_superuser %}
													<a href="{% url 'Movie:delete_review' i.id %}">
														<h3><i class="ion-android-delete"></i></h3>
													</a>
													{% endif %}
<!--													<div class="no-star">-->
<!--														<i class="ion-android-star">{{i.score}}</i>-->
<!--														<i class="ion-android-star last"></i>-->
<!--													</div>-->
													<p class="time">
														Posted on : {{i.date}} <a href="#">by: {{i.user}}</a>
													</p>
												</div>
											</div>
											<p>{{i.review}}</p>
										</div>
									   {% endfor %}
										<div class="topbar-filter">
											<label>Reviews per page:</label>
											<select>
												<option value="range">{{review_count}} Reviews</option>
												<option value="saab">10 Reviews</option>
											</select>
											<div class="pagination2">
												<span>Page 1 of 6:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#">3</a>
												<a href="#">4</a>
												<a href="#">5</a>
												<a href="#">6</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
						            </div>
						        </div>
						        <div id="cast" class="tab">
						        	<div class="row">
						            	<h3>Cast of</h3>
					       	 			<h2>{{movie.name}}</h2>
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cast</h4>
										</div>
										{% for actor in movie.actors.all %}
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img src="{{actor.photo.url}}" style="height:50px; width:auto;" alt="">
													<a href="{% url 'Crew:view_actor' actor.slug %}">{{actor.name}}</a>
													<p>...Actor</p>
												</div>
											</div>
										</div>
										{% endfor %}
										<!-- //== -->
										<!-- //== -->
					       	 			<div class="title-hd-sm">
											<h4>Director</h4>
										</div>
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img src="{{movie.director.photo.url}}" style="height:50px; width:auto;" alt="">
													<a href="{% url 'Crew:view_director' movie.director.slug %}">{{movie.director.name}}</a>
												</div>
												<p>...  Director</p>
											</div>
										</div>
										<!-- //== -->
										<div class="title-hd-sm">
											{% if movie.writers.all.count == 1 %}
											<h4>Writer</h4>
											{% else %}
											<h4>Writers</h4>
											{% endif %}
										</div>
										{% for writer in movie.writers.all %}
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img src="{{writer.photo.url}}" style="height:50px; width:auto;" alt="">
													<a href="{% url 'Crew:view_writer' writer.slug %}">{{writer.name}}</a>
													<p>...Writer</p>
												</div>
											</div>
										</div>
										{% endfor %}
										<!-- //== -->
										<div class="title-hd-sm">
											<h4>Cinematography</h4>
										</div>
										<div class="mvcast-item">
											<div class="cast-it">
												<div class="cast-left">
													<img src="{{movie.cinematographer.photo.url}}" style="height:50px; width:auto;" alt="">
													<a href="{% url 'Crew:view_cinematographer' movie.cinematographer.slug %}">{{movie.cinematographer.name}}</a>
												</div>
												<p>...  Cinematographer</p>
											</div>
										</div>
						            </div>
					       	 	</div>
					       	 	<div id="moviesrelated" class="tab">
					       	 		<div class="row">
										{% include 'count_filter.html' %}
										{% block count %}{% endblock %}
										{% for i in related %}
										<div class="movie-item-style-2">
											<img src="{{i.poster.url}}" alt="">
											<div class="mv-item-infor">
												<h6><a href="{% url 'Movie:view_movie' movie.slug %}">{{i.name}} <span>{{i.year}}</span></a></h6>
												<p class="rate"><i class="ion-android-star"></i><span>{{i.rating}}</span> /10</p>
												<p class="describe">{{i.synopsis}}</p>
												<p class="run-time"> Run Time: {{i.duration}}<span>Certification : {{i.certification}}</span><span>Release: {{i.release}}</span></p>
												<p>Director: <a href="{% url 'Crew:view_director' i.director.slug %}">{{i.director}}</a></p>
												<p>Stars:{% for actor in i.actors.all %} <a href="{% url 'Crew:view_actor' actor.slug %}">{{actor.name}},</a>{% endfor %}</p>
											</div>
										</div>
										{% endfor %}
										<div class="topbar-filter">
											<label>Movies per page:</label>
											<select>
												{% if count == 1 %}
												<option value="range">{{count}} Movie</option>
												{% else %}
												<option value="range">{{count}} Movies</option>
												{% endif %}
											</select>
											<div class="pagination2">
												<span>Page 1 of 2:</span>
												<a class="active" href="#">1</a>
												<a href="#">2</a>
												<a href="#"><i class="ion-arrow-right-b"></i></a>
											</div>
										</div>
					       	 		</div>
					       	 	</div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
